# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de IDE/editores
.vscode/
.idea/
*.swp

# Entornos virtuales (si usas Python)
venv/
.env/
.venv/

# Compilados y binarios (C/C++ u otros)
*.o
*.out
*.exe
*.a
*.so

# Logs
logs/
*.log

# Estado de ejecución
config/sessions.json

# Archivos temporales
*.tmp
*.bak
*~
